@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  padding-left: 80px;
  padding-right: 80px;
} */



.swiper-custom-pagination {
  position: absolute !important;
  bottom: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
}
.swiper-custom-pagination .swiper-pagination-bullet {
  margin: 0 2px !important;
}
